<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Flight Number:{{object.Flight_Number}}</h2>
        <h2>Mission Name:{{object.Mission_name}}</h2>
        
        <h2>Launch Date Local:{{object.Flight_date}}</h2>
        <h2>Rocket Id:{{object.Rocket_Id}}</h2>
        <h2>Rocket Name:{{object.Rocket_Name}}</h2>
       <a href="{{object.Mission_Patch_Link}}"><h2>Mission Patch Link</h2></a><br>
       <a href="{{object.Mission_Video_Link}}"><h2>Mission Video</h2></a>
 
</body>
</html>